@import "ui/styles/_vars.scss";

StrafeVoiceChatList {
	position: absolute;
	bottom: 200px;
	right: 64px;
	width: 300px;
	padding: 5px;
	padding-bottom: 0px;
	font-family: Ubuntu;
	font-size: 16px;
	flex-direction: row-reverse;

	StrafeVoiceChatEntry {
		flex-direction: row;
		padding: 6px;
		margin-bottom: 5px;
		align-items: center;
		align-content: center;
		overflow: hidden;
		transition: all 0.1s ease-out;
		left: 0px;
		background-color: rgba( $darkbg .65 );
		border-bottom: 1px solid rgba( $darkaccent .5 );

		&:intro {
			opacity: 0;
			margin-left: 20px;
		}

		&:outro {
			opacity: 0;
			margin-left: 20px;
			transition: all 0.1s ease-out;
		}

		.avatar {
			width: 48px;
			aspect-ratio:1;
		}

		.name {
			padding-right: 20px;
			padding-left: 10px;
			text-shadow: 1px 1px 1px black;

		}
	}
}
