@inherits Panel
@attribute [StyleSheet("UI/VoiceChat/VoiceChatList.scss")]

<root class="VoiceChatList">
	<div class="VoiceChatEntry">
		<label class="name" text="@(Friend.Name)"/>
		<img class="avatar" src=@($"avatar:{Friend.Id}") />
	</div>
</root>

@code
{
	public Friend Friend;

	private float TargetVoiceLevel = 0;

	RealTimeSince timeSincePlayed;

	public StrafeVoiceChatEntry(Panel parent, long steamId)
	{
		Parent = parent;

		Friend = new Friend(steamId);
	}

	public void Update(float level)
	{
		timeSincePlayed = 0;
		TargetVoiceLevel = level;
	}

	public override void Tick()
	{
		base.Tick();

		if (IsDeleting)
			return;

		if (timeSincePlayed > 2f)
		{
			Delete();
			return;
		}
		Style.Dirty();
	}
}