
VoiceIcon {
    position: absolute;
    bottom: 24px;
    right: 32px;
    opacity: 0.0;
    padding: 8px;
    background-image: url("ui/mic.png");
    background-size: 100%;
    width: 32px;
    aspect-ratio: 1;

    &.active {
        opacity: .25;
    }
}
