
@inherits Panel
@attribute [NavigatorTarget("/styles")]

<root class="grow container">
    <label>Stand in the start zone and click a style below to switch to it</label>
    <div style="height: 16px;" />
    <div class="stylelist">
        @foreach (var style in Enum.GetValues<TimerStyles>())
        {
            var active = IsActive(style) ? "active" : "inactive";
            <button class="@active" @onclick=@(() => SetStyle(style)) text=@style />
        }
    </div>
</root>

@code {
    void SetStyle(TimerStyles style)
    {
        StrafePlayer.SetTimerStyle(style);
    }

    bool IsActive(TimerStyles style)
    {
        if (Game.LocalPawn is not StrafePlayer pl) 
            return false;
        return pl.Style == style;
    }
}
