
@inherits NavigatorPanel

<root style="flex-direction:column;">
    <panel class="navbar">
        <panel class="container grow">
			<nav href="/">Home</nav>
			<nav href="/maps">Maps</nav>
			<nav href="/info">Info</nav>
			<nav href="/styles">Styles</nav>
			<nav href="/strafedb">StrafeDB</nav>
			<div class="grow"></div>
			<button @onclick=@Close text="Close" />
        </panel>
    </panel>
    <panel class="content" @ref="NavigatorCanvas"></panel>
</root>

@code {
	protected override void OnAfterTreeRender(bool firstTime)
	{
		base.OnAfterTreeRender(firstTime);

		if(firstTime)
		{
			Navigate("/");
		}
	}

	[GameEvent.Client.BuildInput]
	public void OnBuildInput()
	{
		if (Input.Pressed("Score"))
		{
			SetClass("open", !HasClass("open"));
		}

		if(Input.Released("Score") && !Mouse.Visible)
		{
			RemoveClass("open");
		}

		if (!HasClass("open"))
		{
			RemoveClass("cursor");
		}
		else
		{
			if (Input.Down("attack1") || Input.Down("attack2"))
			{
				AddClass("cursor");
			}
		}
	}

	void Close()
	{
		RemoveClass("open");
		RemoveClass("cursor");
	}

}
