
@inherits Panel

<root>

	@if (!Client.IsValid())
	{
		return;
	}

	<div>
		<label class="name" text=@Client.Name />
		<label class="credits" text=@($"\U0001fa99 {Player?.Credits ?? 0}") />
	</div>
    <panel>
        <label text=@Client.Ping />
        <label>ms</label>
    </panel>

</root>

@code {

	public IClient Client { get; set; }

	StrafePlayer Player
	{
		get
		{
			if (!Client.IsValid() || !Client.Pawn.IsValid())
				return null;
			return Client.Pawn as StrafePlayer;
		}
	}

	protected override void OnMouseDown(MousePanelEvent e)
	{
		base.OnMouseDown(e);

		if (Client.Pawn is not StrafePlayer pl) return;

		StrafePlayer.SetSpectateTarget(pl.NetworkIdent);
	}

	public override void Tick()
	{
		base.Tick();

		var p = Game.LocalPawn as StrafePlayer;
		SetClass("active", p.IsValid() && p.SpectateTarget == Client.Pawn);
	}

	protected override int BuildHash()
	{
		if (!Player.IsValid() || !Player.Client.IsValid())
			return 0;

		return HashCode.Combine(Player.Client.Ping, Player.Credits);
	}

}
