
@inherits Panel

<root>

	<div>
		<label class="name" text=@Client.Name />
		<label class="credits" text=@($"\U0001fa99 {Credits}") />
	</div>
    <panel>
        <label text=@Client.Ping />
        <label>ms</label>
    </panel>

</root>

@code {

	public IClient Client { get; set; }
	public int Credits => (Client?.Pawn as StrafePlayer)?.Credits ?? 0;

	protected override void OnMouseDown(MousePanelEvent e)
	{
		base.OnMouseDown(e);

		if (Client.Pawn is not StrafePlayer pl) return;

		StrafePlayer.SetSpectateTarget(pl.NetworkIdent);
	}

	public override void Tick()
	{
		base.Tick();

		var p = Game.LocalPawn as StrafePlayer;
		SetClass("active", p.SpectateTarget == Client.Pawn);
	}

	protected override int BuildHash()
	{
		if (Client == null) 
			return 0;

		return HashCode.Combine(Credits, Client.Ping);
	}

}
