
@inherits Panel

<root class="container">

    <panel class="columns">
        <panel class="column" style="width:50%;">
            <label class="heading">Players</label>
            <PlayerList />
        </panel>

        <panel class="column" style="width:50%;">
            <label class="heading">Replays</label>
            <ReplayList />
        </panel>
    </panel>

    <panel class="footer">
        <button 
            @onclick=@(() => StrafePlayer.SetSpectateTarget( -1 )) 
            class="button @(Spectating ? "enabled" : "disabled")" 
            text="Stop Spectating" />
        <div class="grow"></div>
        <button 
            class="filled" 
            @onclick=@StrafeGame.SpawnMyReplay 
            text="Spawn My Replay" />
    </panel>

</root>

@code {
    bool Spectating => Game.LocalPawn is StrafePlayer pl && pl.SpectateTarget.IsValid();

    protected override int BuildHash()
    {
        return Spectating.GetHashCode();
    }
}
