
@using Sandbox.UI.GameMenu;
@inherits Panel
@attribute [StyleSheet, NavigatorTarget("/menu/settings/input")]

<root class="columns grow">
    <div class="form game-settings">
        @foreach ( var group in Game.Menu.InputSettings.Actions.GroupBy( x => x.GroupName ) )
        {
            <h2 class="input-group">@group.Key</h2>
            @foreach ( InputAction action in group )
            {
                <div class="form-row">
                    <label text="@action.Name" />
                    <KeyBind Game="@Game.Menu" Action=@action class="glass with-padding with-grow with-click" />
                </div>
            }
        }
    </div>
    <div class="settings-footer">
        <button @onclick=@RestoreDefaults class="large" text="Restore Defaults" />
        <div class="grow"></div>
        <button @onclick=@Save class="large @(SaveEnabled ? "" : "disabled")" text="Save" />
    </div>
</root>

@code {
    bool SaveEnabled;

    protected override void OnEvent(PanelEvent e)
    {
        base.OnEvent(e);

        if (e.Name == "onchange")
            SaveEnabled = true;
    }

    void Save()
    {
        foreach(var kb in Descendants.OfType<KeyBind>())
        {
            kb.Apply();
        }

        SaveEnabled = false;
    }

    void RestoreDefaults()
    {
        Game.Menu.ResetBinds();
    }
}
