
@inherits Panel

@if (Map.IsNull)
    return;

<style>
    MapEntry .thumb {
        background-image: url(@Map.Thumb);
    }
</style>

<root>
    <div class="thumb"></div>
    <div class="info">
        <label class="title" text=@Map.Title />
        <label class="author" text=@Map.Author />
    </div>
</root>

@code {
    public MapReference Map { get; set; }


    protected override void OnMouseDown(MousePanelEvent e)
    {
        base.OnMouseDown(e);

        Ancestors.OfType<StrafeMainMenu>().First().Navigate($"/maps/{Map.FullIdent}");
    }
}
