@using Sandbox.UI;
@namespace Strafe.UI
@inherits Panel
@attribute [NavigatorTarget("/menu/maps")]
@attribute [StyleSheet]

<root>
    <div class="sidebar">
        <div class="form grow">
            <div class="form-row">
                <label text="Type" />
                <DropDown Value:bind=@MapTypeFilter ValueChanged=@FilterRefresh />
            </div>
            <div class="form-row">
                <label text="Difficulty" />
                <DropDown Value:bind=@MapDifficultyFilter ValueChanged=@FilterRefresh />
            </div>
            <div class="form-row">
                <label text="Sort" />
                <DropDown Value:bind=@SortModeFilter ValueChanged=@FilterRefresh />
            </div>
        </div>
    </div>
    <div class="body">
        <div class="maps">
            @if (Maps == null || Maps.Count == 0)
            {
                <Spinner />
            }
            else
            {
                @foreach (var map in Sort(Maps))
                {
                    if (!Filter(map))
                        continue;

                    <MapEntry Map=@map />
                }
            }
        </div>
    </div>
</root>