
@import "Styles/_vars.scss";

MapsPage {
    .maps {
        flex-wrap: wrap;
        overflow-y: scroll;
        width: 100%;
        mask-image: linear-gradient( to bottom, white 0%, white 93%, grey 98%, black 100% );
        justify-content: center;
    }

    .form-row {
        margin-bottom: 25px;
    }
}

MapEntry {
    width: 300px;
    height: 250px;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    flex-direction: column;

    &:last-child {
        margin-bottom: 100px;
    }

    .thumb {
        width: 300px;
        height: 250px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        box-shadow: 4px 4px 8px rgba(black, .5);
        border-radius: $radius;
        flex-shrink: 0;
    }

    &:hover {
        color: white;

        .thumb {
            filter: contrast(1.02);
        }
    }

    .info {
        padding: 8px;
        flex-grow: 1;
        flex-direction: column;
        text-shadow: 1px 1px 1px black;
        position: absolute;
        bottom: 0;
        background-color: rgba(black, .75);
        width: 100%;

        .title {
            margin-bottom: 4px;
            color: white;
        }

        .author-bar {
            align-items: center;
            gap: 5px;
        }

        .author-icon {
            width: 22px;
            height: 22px;
            background-size: 100%;
            background-repeat: no-repeat;
            border-radius: 50%;
        }
    }
}
