
@import "../Styles/_vars.scss";

.scroll-y {
    mask-image: linear-gradient( to top, white 0%, white 93%, grey 98%, black 100% );
}

.thumbnail {
    width: 100%;
    aspect-ratio: 1;
    background-position: center;
    background-size: cover;
}

.map-info {
    flex-shrink: 0;
}

.player-info {
    flex-shrink: 0;
    margin-top: 20px;
    margin-bottom: 40px;
}

.button.large {
    flex-shrink: 0;
}

.info-row {
    background-color: $bg-dark;
    padding: 12px;
    margin-bottom: 8px;
    border-radius: 4px;
    justify-content: space-between;
    font-size: 18px;
    text-transform: uppercase;
    flex-shrink: 0;
}
