
@inherits Panel

<root>
    <div class="name">
        <label class="title" text=@Entry.Name />
        <label class="map" text=@($"{Entry.Map}") />
    </div>
    <div class="grow" />
    <div class="meta">
        @if (Ranked)
        {
            <label class="tag success" text="Ranked" />
        }
        @if (outdated)
        {
            <label class="tag warning" text="Outdated" />
        }
        <label class="tag" text="@($"{Entry.Players} players")" />
        <label class="tag" text="@($"{Entry.Ping}ms")" />
    </div>
</root>

@code {
    public ServerList.Entry Entry { get; set; }
    public bool Ranked { get; set; }

    bool outdated;
    TimeSince timeSinceMouseDown;
    MapInfo mi => MapInfo.Get(Entry.Map);
    static ServerEntry active;

    protected override void OnMouseDown(MousePanelEvent e)
    {
        base.OnMouseDown(e);

        if (timeSinceMouseDown < .25f)
        {
            Join();
        }

        Ancestors.OfType<ServersPage>().First()?.SetSelected(this);

        timeSinceMouseDown = 0;
    }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        Ranked = await Backend.Get<bool>($"server/is_whitelisted?steamid={Entry.SteamId}");

        if(Game.Menu != null && Game.Menu.Package?.Revision != null)
        {
            outdated = Entry.GameVersion != Game.Menu.Package.Revision.VersionId;
        }
    }

    void Join()
    {
        Ancestors.OfType<ServersPage>().First()?.Join(Entry);
    }

}
