@using Sandbox.UI;
@namespace Strafe.UI
@inherits Panel
@attribute [NavigatorTarget("/menu/servers")]
@attribute [StyleSheet]

<div>
    <div class="sidebar">
        <div class="form">
            <div class="form-row">
                <Checkbox LabelText="Show Empty" Value:bind=@ShowEmpty />
            </div>
            <div class="form-row">
                <Checkbox LabelText="Ranked Only" Value:bind=@WhitelistedOnly />
            </div>
        </div>
    </div>
    <div class="body columns">
        <div class="server-header">
            <button @ref="ConnectButton" onmousedown=@JoinSelected text="Connect" />
            <div class="grow"></div>
            <button onmousedown=@Refresh text="Refresh" />
        </div>
        <div class="server-list">
            @if (List == null || List.Count == 0)
            {
                <Spinner />
            }
            else
            {
                @foreach (var server in List)
                {
                    if (!Filter(server))
                        continue;

                    <ServerEntry Entry=@server Ranked=@IsWhitelisted(server) />
                }
            }
        </div>
    </div>
</div>
