
@import "Styles/_vars.scss";

.server-header {
    margin-bottom: 20px;
}

.server-list {
    flex-direction: column;
    overflow-y: scroll;
    gap: 10px;
}

ServerEntry {
    padding: 15px;
    flex-shrink: 0;
    cursor: pointer;
    background-color: $bg-dark;
    border-radius: $radius;

    &:hover {
        background-color: $bg-dark-hover;
    }

    &.active {
        background-color: $bg-dark-active;
    }

    .title {
        font-size: 20px;
        margin-bottom: 4px;
    }

    .map {
        color: $foreground-faded;
        align-items: center;
    }

    .name {
        flex-direction: column;
    }

    .meta {
        flex-direction: row;
        gap: 8px;
        align-items: center;

        .tag {
            padding: 4px 12px;
            background-color: rgba( $foreground-faded, .15 );
            border-radius: $radius;
            font-size: 15px;

            &.success {
                background-color: rgba( $green, .15 );
            }

            &.warning {
                background-color: rgba($yellow, .15);
            }
        }
    }
}
