
<root>
    <div class="columns name">
        <label class="title" text=@Entry.Name />
        <label class="map" text=@Entry.Map />
    </div>
    <div class="grow" />
    <div class="meta">
        <label class="tag" text="@($"{Entry.Players} players")" />
        <label class="tag" text="@($"{Entry.Ping}ms")" />
        <label class="tag success" text="Ranked" />
    </div>
</root>

@code {
    public ServerList.Entry Entry { get; set; }
}
