@using Sandbox.UI;
@namespace Strafe.UI
@inherits Panel
@attribute [NavigatorTarget("/menu/servers")]
@attribute [StyleSheet]

<div>
    <div class="sidebar">
        <div class="form">
            <div class="form-row">
                <Checkbox LabelText="Show Empty" Value:bind=@ShowEmpty />
            </div>
            <div class="form-row">
                <Checkbox LabelText="Ranked" Value:bind=@WhitelistedOnly />
            </div>
        </div>
    </div>
    <div class="servers">
        @if(List == null || List.Count == 0)
        {
            <label text="No servers right now" />
        }
        else
        {
            @foreach(var server in List)
            {
                if (!Filter(server))
                    continue;

                <ServerEntry Entry=@server />
                <ServerEntry Entry=@server />
                <ServerEntry Entry=@server />
                <ServerEntry Entry=@server />
                <ServerEntry Entry=@server />
                <ServerEntry Entry=@server />
                <ServerEntry Entry=@server />
                <ServerEntry Entry=@server />
                <ServerEntry Entry=@server />
                <ServerEntry Entry=@server />
            }
        }
    </div>
</div>
