
@inherits NavigatorPanel

<root>
    <div class="navbar">
        <nav href="/menu/servers">Servers</nav>
        <nav href="/menu/maps">Maps</nav>
        <nav href="/menu/ranks">Ranks</nav>
        <nav href="/menu/settings">Settings</nav>
        <div class="grow"></div>
        <div class="logo">Strafe</div>
    </div>

    <div @ref="NavigatorCanvas" class="content" />
</root>

@code {
    protected override void OnAfterTreeRender(bool firstTime)
    {
        base.OnAfterTreeRender(firstTime);

        if (!firstTime) 
            return;

        Navigate("/menu/servers");
    }
}
