@using Sandbox.UI;
@namespace Strafe.UI
@inherits NavigatorPanel
@attribute [NavigatorTarget("/menu/settings")]
@attribute [StyleSheet]

<root>
    <div class="sidebar">
        <div class="nav">
            <nav href="/menu/settings/input">Input</nav>
            <nav href="/menu/settings/other">Other</nav>
        </div>
    </div>
    <div class="body">
        <div class="setting-content" @ref="NavigatorCanvas" />
    </div>
</root>
