
@import "../Styles/_vars.scss";

StrafeSettingsPage {
    .form-row {
        padding-left: 10px;
        transition: all .15s ease;

        DropDown {
            max-width: 250px;
        }

        &:hover {
            background-color: rgba($bg-dark, .25);
        }
    }

    .setting-content {
        flex-grow: 1;
    }

    .settings-footer {
        margin-top: 20px;
        flex-shrink: 0;
    }
}

