
$bg-dark: #0f212e;
$bg-light: #1f3340;
$bg-dark-hover: lighten($bg-light, 55%);

$bg: #45515d;
$lightbg: #454545;
$darkbg: #282828;
$orange: #e9b437;
$yellow: #f6f25a;
$green: #37e956; 
$red: #e93737;
$lightaccent: #1d8fe1;
$darkaccent: darken($lightaccent, 10%);
$purple: #c741cc;
$foreground: #e1e1e1;
$foreground-faded: #aaaaaa;

$largeradius: 5px;
$smallradius: 1px;
$radius: 2px;
$paddingsmall: 8px;
$paddingmedium: 15px;

$z-chat: 4;
$z-menu: 5;
