
$bg-dark: #39424a;
$bg-dark-darker: darken( $bg-dark, 25% );
$bg-light: #585b62;
$bg-dark-hover: lighten($bg-dark, 45%);
$bg-dark-active: lighten($bg-dark, 65%);

$bg: #45515d;
$lightbg: #454545;
$darkbg: #282828;
$orange: #e9b437;
$yellow: #f6f25a;
$green: #37e956; 
$red: #e93737;
$lightaccent: #17c7ab;
$darkaccent: darken($lightaccent, 10%);
$purple: #c741cc;
$foreground: #c8d0d6;
$foreground-faded: #a3a3a3;

$largeradius: 5px;
$smallradius: 1px;
$radius: 4px;
$paddingsmall: 8px;
$paddingmedium: 15px;

$z-chat: 4;
$z-menu: 5;
