
@import "_vars.scss";

RootPanel {
    color: white;
    font-family: Ubuntu;
    font-size: 16px;
}

button {
    border-radius: $radius;
    padding: $paddingsmall;
    cursor: pointer;
    text-shadow: 1px 1px 1px black;
    border: 2px solid $lightaccent;
    background-color: transparent;
    transition: all .15s ease-out;

    &:hover {
        background-color: $lightaccent;
        transform: scale(1.05);
    }
}

button.disabled {
    opacity: .25;
    cursor: default;
    transition: none;
    border: 2px solid $bg;

    &:hover {
        background-color: transparent;
        transform: scale(1);
    }
}

TimerHud {
    position: absolute;
    width: 100%;
    height: 100%;
    text-shadow: 1px 1px 1px black;

    .inner {

        .row {
            width: 100%;
            justify-content: center;

            .diff {
                position: absolute;
                left: 100%;
                color: $green;

                &.red {
                    color: $red;
                }
            }
        }

        position: absolute;
        bottom: 175px;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px;
        min-width: 200px;
        align-items: center;
        border-radius: $smallradius;
        flex-direction: column;
        background-image: url( ui/border.png );
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100%;
        background-tint: rgba( white .25 );
    }
}

Crosshair {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% -50%);
    width: 8px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(white .5);
}

Chat {
    position: absolute;
    width: 550px;
    height: 325px;
    left: 170px;
    bottom: 175px;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-radius: $largeradius;
    z-index: $z-chat;

    &.open {
        pointer-events: all;
        background-color: rgba( $darkbg .5 );

        .input {
            opacity: 1;
            transition: all .15s ease-out;
            transform: scale(1.05);

            &:hover {
                background-color: $bg;
            }
        }

        StrafeChatEntry {
            opacity: 1;
        }
    }

    .messages {
        flex-direction: column;
        overflow: scroll;
        margin-bottom: 10px;
    }

    .input {
        align-items: center;
        background-color: $darkbg;
        border-radius: $smallradius;
        opacity: 0;
        flex-shrink: 0;

        textentry {
            align-items: center;
            flex-grow: 1;
            padding: 8px;
            cursor: text;
            background-image: url( ui/border.png );
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50% 99%;
            background-tint: $lightaccent;
        }
    }
}

StrafeChatEntry {
    flex-shrink: 0;
    flex-grow: 0;
    padding: 2px;
    text-shadow: 1px 1px 0 black;
    align-items: center;
    font-weight: 600;
    transition: all .15s ease-out;
    align-items: flex-start;

    &.faded {
        opacity: 0;
    }

    &.connect {
        font-style: italic;
        color: rgba(white .8);
    }

    &.important {
        color: $orange;
        font-weight: heavy;
    }

    &.timer {
        .name {
            color: $orange;
        }
        color: rgba(white .8);
    }

    .name {
        margin-right: 4px;
        font-weight: 800;
        color: $lightaccent;
        cursor: text;
        flex-shrink: 0;
    }

    .message {
        cursor: text;
    }

    &.bold {
        .message {
            font-weight: 800;
        }
    }

    &.purple {
        .message {
            color: $purple;
        }
    }
}

Leaderboard {
    left: 32px;
    top: 32px;
    flex-direction: column;
    text-shadow: 1px 1px 0px black;
    font-weight: 600;
}

CheckpointHud {
    position: absolute;
    bottom: 150px;
    right: 150px;
    flex-direction: column;
    font-weight: 700;
    align-items: flex-end;
    text-shadow: 1px 1px 1px black;
    transition: all .15s ease-in;

    CprRow, .row {
        min-width: 240px;
        padding: 8px;
        background-color: rgba( $darkbg .5 );
        margin-bottom: 4px;
        border-radius: $smallradius;
        background-image: url( ui/border.png );
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 98%;
        text-align: center;
        justify-content: center;

        .green {
            color: $green;
        }

        .red {
            color: $red;
        }

        .title {
            text-align: left;
        }

        .diff {
            flex-grow: 1;
            text-align: right;
        }
    }
}

StatusHud {
    width: 100%;
    height: 100%;
    position: absolute;

    &.connected .api-status {
        display: none;
    }

    .api-status {
        position: absolute;
        left: 175px;
        bottom: 128px;
        align-items: center;
        padding: 4px 8px;
        background-color: rgba( $bg .5 );

        .dot {
            width: 12px;
            height: 12px;
            border-radius: 2px;
            background-color: #ff0000;
            margin-right: 5px;
        }
    }

    &.connected .api-status .dot {
        background-color: #00ff90;
    }
}

SlotMenuHud {
    position: absolute;
    padding: 15px;
    background-color: rgba($darkbg .25);
    border-radius: $radius;
    top: 40%;
    left: 100px;
    flex-direction: column;
    text-shadow: 1px 1px 1px black;
    opacity: 1;
    transform: scale(1);
    transition: opacity .15s ease-in;
    transition: transform .8s bounce-out;

    &:intro {
        opacity: 0;
        transform: scale(0);
    }

    &:outro {
        opacity: 0;
        transform: scale(0);
    }

    .title {
        font-weight: heavy;
        margin-bottom: 10px;
        color: $orange;
    }

    .duration {
        position: absolute;
        left: -14px;
        top: -14px;
        border-radius: 50%;
        background-color: $darkbg;
        width: 28px;
        height: 28px;
        align-items: center;
        text-align: center;
    }

    .options {
        flex-direction: column;
        padding-left: 10px;
    }
}

StrafeScoreboard {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
    border-radius: $radius;
    padding: $paddingmedium;
    opacity: 0;
    transition: opacity .12s ease-out;
    background-color: rgba( $darkbg .95 );
    background-image: url( ui/border.png );
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 101.35%;
    background-tint: $lightaccent;
    flex-direction: column;
    box-shadow: 2px 2px 0px rgba(black .93);
    z-index: $z-chat;

    .columns {
        flex-grow: 1;
    }

    .column {
        flex-grow: 1;
        flex-direction: column;
        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }
    }

    .heading {
        font-weight: 800;
        font-size: 24px;
        text-transform: uppercase;
        margin-bottom: $paddingmedium;
        padding-bottom: $paddingmedium;
        border-bottom: 1px solid rgba( $darkaccent .5 );
    }

    PlayerList, ReplayList {
        flex-direction: column;
    }

    PlayerListEntry, ReplayListEntry {
        padding: $paddingsmall;
        justify-content: space-between;
        flex-grow: 1;
        transition: all .1s ease-out;
        border-radius: $radius;
        cursor: pointer;

        &.active {
            border: 2px solid $orange;
            transform: scale(1.02);
        }

        .name {
            color: $darkaccent;
            font-weight: 800;
        }

        &:hover:not(.active) {
            background-color: $darkaccent;
            text-shadow: 1px 1px 2px black;
            transform: scale(1.02);
            box-shadow: 3px 3px 0px black;

            .name {
                color: white;
            }
        }
    }

    ReplayListEntry .name {
        color: $orange;
    }

    &.open {
        opacity: 1;
    }

    &.cursor {
        pointer-events: all;
    }
}

SpectatorList {
    position: absolute;
    right: 64px;
    top: 40%;
    opacity: 0;
    flex-direction: column;

    &.open {
        opacity: 1;
    }

    .heading {
        padding: 8px;
        margin-bottom: 8px;
        border-radius: $radius;
        background-image: url( ui/border.png );
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 98%;
        background-tint: rgba( $lightaccent .35 );
        font-weight: 700;
        text-align: center;
    }

    .entries {
        flex-direction: column;
        padding: 4px 8px;
        text-align: center;
    }
}
